:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --primary-bgr-color: #fafafa;
  --secondary-bgr-color: #3456d2;
  --primary-text-color: #212121;
  --secondary-text-color: #fafafa;
  --primary-btn-color: #3456d2;
  --secondary-btn-color: #2a4bc0;
  --panel-shadow: rgba(100, 100, 111, 0.6) 0 0.4rem 2rem 0;
  --card-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  background-color: var(--primary-bgr-color);
  color: var(--primary-text-color);
}

.top-panel {
  padding: 1.5rem 7rem 1.5rem 0;

  position: fixed;
  z-index: 1;
  width: 100%;

  background-color: var(--secondary-bgr-color);
  box-shadow: var(--panel-shadow);
}

.api-logo {
  padding: 9px 12px 6px;

  position: absolute;
  top: 1rem;
  right: 1rem;

  font-size: 0.75rem;
  line-height: 1.7;

  color: #555;

  display: block;
  float: left;

  border: 1px solid #ccc;
  background-color: var(--primary-bgr-color);
  text-decoration: none;
}

.api-logo > i {
  display: block;
  width: 4.25rem;
  height: 1.13rem;
  overflow: hidden;
}

.search-form {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 25rem;
}

.search-input {
  padding: 10px 52px 10px 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
}

.search-input:focus {
  outline: 2px solid #adadc5;
}

.search-btn {
  padding: 0;

  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  width: 2.5rem;

  background-image: url('../img/search.svg');
  background-size: 1rem;
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.search-btn:hover {
  background-size: 1.2rem;
}

.load-more {
  padding: 15px 0;
  margin: 0 auto 30px;

  display: none;
  width: 200px;

  font-size: 1rem;

  color: var(--secondary-text-color);
  background-color: var(--primary-btn-color);

  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.load-more:hover {
  background-color: var(--secondary-btn-color);
}

.gallery {
  margin: 0 auto 30px;
  padding-top: 90px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
}

.photo-card {
  box-shadow: var(--card-shadow);
}

.photo-card:hover {
  transform: scale(1.03);
}

.photo-card img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.info {
  display: flex;
  justify-content: space-around;

  font-size: 0.9rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-link {
  display: block;
  text-decoration: none;
  height: 100%;
  color: var(--primary-text-color);
}

.photo-link:hover {
  cursor: zoom-in;
}
